main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

section {
    width: 320px;
    background-color: darkblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid{
    width: 240px;
    height: 480px;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
}

.grid div{
    width: 20px;
    height: 20px;
    background-color: blueviolet;
}