main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/* game background */
section {
    width: 320px;
    background-color: darkblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* game"field" */
.grid{
    width: 240px;
    height: 480px;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
}
/* individual grid locations */
.grid div{
    width: 20px;
    height: 20px;
}
/*styling for all shapes */
.shapes {
    background-color: darkorange;
}
