@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=EB+Garamond&display=swap');
/* sets default colour, font and zeroes padding and margin */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #ffffff;
    font-family: 'EB Garamond', sans-serif;
}
/* centers content in main */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* styles the div that displays the javascript disabled message */
.no-script-div {
    background-color: #182834;
    border-radius: 10px;
    padding: 24px;
    width: 220px;
    text-align: center;
    z-index: 999;
    position: absolute;
    top: 100px;
    left: calc(50% - 110px);
}

/* provides body background */
body {
    background-image: url("../images/bgimg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* game background */
section {
    width: 320px;
    background-color: darkblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

/* game"field" */
.grid {
    width: 240px;
    height: 480px;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
}

/* individual grid locations */
.grid div {
    width: 20px;
    height: 20px;
}

/*styling for all shapes */
.shapes {
    background-color: darkorange;
    outline: 2px outset rgb(207, 156, 156);
    outline-offset: -2px;
    border-radius: 5px;
}

/* styling for blocked squares
Used outline instead of borders are border increases the size of the div
used outline-offset for the same width as the outline otherwise the outline width takes up unblocked squares' space */
.blocked {
    background-color: rgb(130, 121, 121);
    outline: 2px outset rgb(177, 167, 167);
    outline-offset: -2px;
    border-radius: 3px;
}

/* hides blocked row in bottom of grid */
.hide {
    display: none;
}

/* div with centered content */
.flex-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* styles for block colours */
.red {
    background-color: red;
    outline: 2px outset rgb(255, 96, 96);
    outline-offset: -2px;
}

.orange {
    background-color: orange;
    outline: 2px outset rgb(207, 156, 156);
    outline-offset: -2px;
}

.yellow {
    background-color: yellow;
    outline: 2px outset rgb(243, 243, 166);
    outline-offset: -2px;
}

.green {
    background-color: green;
    outline: 2px outset rgb(11, 168, 11);
    outline-offset: -2px;
}

/* movement button styles */
#move_left {
    margin-right: 12px;
}

#move_right {
    margin-left: 12px;
}

#flip_shape {
    margin-top: 6px;
}

#drop_shape {
    margin: 6px 0 12px 0;
}